In [41]:
import pandas as pd

In [42]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [43]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [45]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [46]:
y = dataset['Exited']

In [47]:
X = dataset[['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard','IsActiveMember', 'EstimatedSalary']]

In [48]:
#To get dummy variable for categorical variable
geo = pd.get_dummies(dataset['Geography'], drop_first=True)

In [49]:
gender = pd.get_dummies(dataset['Gender'], drop_first=True)

In [50]:
#concat column wise (axis = 1)
X = pd.concat([X, geo, gender], axis = 1)

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
X_train, X_test, y_train, y_test = train_test_split(
...     X, y, test_size=0.20, random_state=42)

In [53]:
X_train.shape

(8000, 11)

In [54]:
X_test.shape

(2000, 11)

In [55]:
from keras.models import Sequential

In [56]:
model = Sequential()

In [57]:
model.summary()

ValueError: This model has not yet been built. Build the model first by calling build() or calling fit() with some data. Or specify input_shape or batch_input_shape in the first layer for automatic build.

In [58]:
from keras.layers import Dense

In [59]:
# add first layer : hidden layer
# units : number of neurons in one layer
# activation : activation function 
# input shape/dim: number of input columns
model.add(Dense(units = 8, activation='relu', input_dim=11 ))

In [60]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 96
=================================================================
Total params: 96
Trainable params: 96
Non-trainable params: 0
_________________________________________________________________

In [61]:
#adding second layers
model.add(Dense(units = 6, activation = 'relu' ))

In [62]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 96
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 54
=================================================================
Total params: 150
Trainable params: 150
Non-trainable params: 0
_________________________________________________________________

In [63]:
# adding third layer
model.add(Dense(units = 6, activation = 'relu' ))

In [64]:
# fourth layer
model.add(Dense(units = 6, activation = 'relu' ))

In [65]:
#last layer will have only one output, and sigmoid as activation function
# because we need binary classification : sigmoid function
model.add(Dense(units = 1, activation = 'sigmoid' ))

In [67]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 96
_________________________________________________________________
dense_7 (Dense)              (None, 6)                 54
_________________________________________________________________
dense_8 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_9 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_10 (Dense)             (None, 1)                 7
=================================================================
Total params: 241
Trainable params: 241
Non-trainable params: 0
_________________________________________________________________

In [70]:
from keras.optimizers import Adam

In [75]:
# loss : checking errors: binary_crossentropy function
model.compile(loss='binary_crossentropy', optimizer=Adam())

In [76]:
model.get_weights()

[array([[ 0.09098744, -0.13322401, -0.19400617, -0.3086783 , -0.4265354 ,
          0.42974073, -0.2692079 , -0.4900384 ],
        [-0.139617  , -0.2113201 ,  0.01190692, -0.44367447, -0.40356898,
          0.04054838,  0.49859256,  0.5577355 ],
        [ 0.28105265, -0.47578913,  0.4429924 , -0.3789115 , -0.4941016 ,
         -0.3582347 ,  0.1104818 ,  0.5443633 ],
        [-0.38886526, -0.08582777, -0.08393586, -0.3881245 , -0.09838945,
          0.48525864, -0.22177118, -0.46384645],
        [-0.040039  , -0.29302853, -0.4290191 ,  0.55656785, -0.35843366,
         -0.55324453, -0.47559312, -0.401566  ],
        [-0.16824993, -0.5501394 , -0.12706953,  0.17734945,  0.25849378,
          0.11701715, -0.4625116 ,  0.12223315],
        [-0.44833297, -0.06886768,  0.09234536, -0.3700686 , -0.27387053,
          0.07923234,  0.47957164,  0.359819  ],
        [ 0.34908003,  0.06970334, -0.25900587,  0.03527391, -0.265869  ,
         -0.2453914 , -0.36323243,  0.2115748 ],
        [ 0.13843799,  0.47310275, -0.53676224, -0.23423383, -0.26445925,
         -0.00690544, -0.27242234, -0.2846307 ],
        [-0.41736636, -0.03909528,  0.53579396,  0.17070848,  0.4396903 ,
          0.4852261 , -0.4066658 , -0.25558457],
        [ 0.51331407,  0.19966465, -0.15687251,  0.20727754,  0.4416471 ,
         -0.12805843, -0.09428751,  0.09653395]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.22765452,  0.6340983 ,  0.25932676,  0.536029  ,  0.45571482,
         -0.12259662],
        [ 0.15475303,  0.5283493 ,  0.46373463,  0.10935903,  0.33577478,
          0.00141084],
        [-0.34579238, -0.62547654,  0.2078985 ,  0.5645447 ,  0.4668126 ,
         -0.5600649 ],
        [-0.40460736,  0.35301423, -0.3171041 ,  0.38950276,  0.42430842,
         -0.3615326 ],
        [ 0.5220921 ,  0.46667957, -0.281788  ,  0.3740002 ,  0.20333701,
         -0.15157288],
        [-0.45359355, -0.23184344,  0.22539866,  0.47094846, -0.08891189,
          0.4267969 ],
        [ 0.3606342 ,  0.30636865, -0.4464811 ,  0.23292994,  0.01881158,
         -0.46736997],
        [ 0.3512969 ,  0.05680591,  0.07496071, -0.07314765, -0.34038228,
         -0.17456165]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.69065046, -0.6325525 , -0.0554558 , -0.33171222,  0.5391826 ,
         -0.45274463],
        [ 0.19273132, -0.36799642,  0.09760487, -0.64359415,  0.28931874,
          0.67632014],
        [-0.7017334 , -0.6736543 ,  0.7024266 , -0.40978572, -0.37960032,
         -0.22924346],
        [ 0.63084   ,  0.60012275, -0.24473563,  0.31661743, -0.22695217,
          0.13492692],
        [-0.6059845 ,  0.06280047,  0.35565907, -0.48338538,  0.2543326 ,
         -0.14049178],
        [-0.16605097,  0.18315876,  0.35901088, -0.4583183 ,  0.31809455,
          0.63383836]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.40813965, -0.6103902 ,  0.28816307, -0.48062444,  0.64100033,
          0.63151485],
        [-0.04535508, -0.3099454 ,  0.11772609, -0.20672607,  0.6398217 ,
         -0.25909638],
        [-0.16703117, -0.15591264, -0.56187177, -0.7000615 ,  0.08436769,
          0.12906814],
        [ 0.41424793,  0.532533  , -0.55465823, -0.08236086,  0.32218927,
         -0.6496854 ],
        [ 0.5242645 ,  0.43401593, -0.0293954 ,  0.514173  , -0.44249722,
         -0.21703923],
        [ 0.65707666, -0.52465427,  0.1948803 ,  0.20999229, -0.5487784 ,
          0.3625427 ]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[-0.545461  ],
        [-0.22698897],
        [ 0.72368395],
        [-0.3357265 ],
        [ 0.48989928],
        [-0.88509935]], dtype=float32),
 array([0.], dtype=float32)]

In [77]:
# repeat learning: epochs
model.fit(X_train, y_train, epochs=5)

Epoch 1/1
8000/8000 [==============================] - 3s 322us/step - loss: 138.7065