In [60]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [61]:
dataset = pd.read_csv("m.csv")

In [62]:
dataset

   hours  marks
0      1     12
1      2     35
2      3     12
3      4     68
4      5     86

In [63]:
 hours = dataset["hours"]

In [64]:
type(hours)

pandas.core.series.Series

In [65]:
marks = dataset["marks"]

In [66]:
marks

0    12
1    35
2    12
3    68
4    86
Name: marks, dtype: int64

In [67]:
hours = hours.values

In [68]:
marks = marks.values

In [69]:
marks

array([12, 35, 12, 68, 86])

In [70]:
marks = marks.reshape(-1,1)

In [71]:
hours = hours.reshape(-1,1)

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
model = LinearRegression()

In [74]:
# y = wx + c
model

LinearRegression()

In [75]:
model.fit(hours, marks)

LinearRegression()

In [76]:
model.predict([[1]])

array([[6.4]])

In [77]:
model.coef_

array([[18.1]])

In [78]:
model.intercept_

array([-11.7])